<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.fredncie.hemleditor.editors.HemlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="heml"
            icon="icons/sample.gif"
            id="net.fredncie.hemleditor.editors.HemlEditor"
            name="Heml Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
         <themeElementCategory id="net.fredncie.hemleditor.preferences.themeElementCategory" label="HEML Editor">
               <description>Colors for HEML Editor</description>
         </themeElementCategory>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.tagsColor" label="Tags" value="0,128,0">
               <description>Color for the tags ({tag })</description>
         </colorDefinition>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.parametersColor" label="Parameters" value="128,0,128">
               <description>Color for the parameters (%param=)</description>
         </colorDefinition>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.commentsColor" label="Comments" value="95,95,95">
               <description>Color for the comments (%%comments)</description>
         </colorDefinition>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.italicColor" label="Italic" value="0,0,0">
               <description>Color for the italic elements ({i })</description>
         </colorDefinition>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.kwColor" label="KeyWords" value="255,0,0">
               <description>Color for the keywords elements ({kw })</description>
         </colorDefinition>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.emphasizeColor" label="Emphasized" value="0,0,0">
               <description>Color for the emphasized elements ({em })</description>
         </colorDefinition>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.codeColor" label="Code block" value="255,0,128">
               <description>Color for the block of code elements ({! !})</description>
         </colorDefinition>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.tableColor" label="Table block" value="157,0,0">
               <description>Color for the block of code elements ({? })</description>
         </colorDefinition>
         <colorDefinition categoryId="net.fredncie.hemleditor.preferences.themeElementCategory" id="net.fredncie.hemleditor.preferences.commentsBlockColor" label="Comments block" value="0,0,255">
               <description>Color for the block of code elements ({# #})</description>
         </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <command id="net.fredncie.hemleditor.command.format" name="FormatCommand" defaultHandler="net.fredncie.hemleditor.editors.FormatCommandHandler">
         </command>
    </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution locationURI="popup:#AbstractTextEditorContext">
               <menu label="Heml" id="net.fredncie.hemleditor.menu.Heml">
                    <command commandId="net.fredncie.hemleditor.command.format" label="format" tooltip="Format the document" style="push"/>
                    <visibleWhen>
                      <with variable="activeEditorId">
                          <equals value="net.fredncie.hemleditor.editors.HemlEditor" />
                      </with>
                    </visibleWhen>
               </menu>
         </menuContribution>
         <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=edit">
               <menu id="net.fredncie.hemleditor.menu.Source" label="Source">
                    <command commandId="net.fredncie.hemleditor.command.format" label="format" tooltip="Format the document" style="push"/>
                    <visibleWhen>
                      <with variable="activeEditorId">
                          <equals value="net.fredncie.hemleditor.editors.HemlEditor" />
                      </with>
                    </visibleWhen>
               </menu>
         </menuContribution>
    </extension>
</plugin>
